---
---

/*
 * SCSS SPECIFICS
 * Variables and mixins used throughout this code.
 * =============================================== */
$White:   #ffffff;
$Gray500: #9e9e9e;
$Gray900: #212121;

$social-iconsize: 3rem;

@mixin social-media-icons($size) {
  padding: 1.5rem;
  font-size: $size;
  width: $size;
  text-align: center;
  text-decoration: none;
  margin: 0 0;
  border-radius: 50%;
}

/* GENERAL DEFINITIONS
 * Definitions not covered in the Skeleton sheet.
 * ============================================== */
html {
  border: 0;
  padding: 0;
}
main {
  p {
    text-align: justify;
    text-indent: 3rem;
  }
}

/* MAIN HEADER DEFINITIONS
 * Definitions regarding the header of the Main layout.
 * ==================================================== */
header.index {
  width: 100%;
  min-height: 200px;
  color: white;
  margin-bottom: 8rem;

  .title {
    width: 100%;
    min-height: 200px;
    text-align: center;
    background: $Gray900 url("{{ "assets/Header.jpg" | relative_url }}") center/cover no-repeat;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);

    h1 {
      margin-top: 5%;
    }
  }

  p { line-height: 350%; }
  p.chev-down { margin-bottom: 4rem; }
  .mdi {
    text-align: center;
    text-decoration: none;
    margin: 0 0;
    border-radius: 50%;
    color: $White;
  }
}

/* MAIN NAV DEFINITIONS
 * Definitions regarding the nav bar of the Main layout.
 * ===================================================== */
nav.index {
  .nav {
    list-style-type: none;
    font-size: 2.5rem;
    text-align: center;

    .page {
      i { margin-right: 0.5rem; }
    }
  }
}

/* DEFAULT HEADER DEFINITIONS
 * Definitions regarding the default header, used in every layout except Main.
 * =========================================================================== */
header.default {}

/* REPOSITORY DEFINITIONS
 * Definitions regarting the Repository collection divs.
 * ===================================================== */
.repository h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;

  i { margin-right: 0.5rem; }
  a { text-decoration: none; }
}

/* MAIN POSTS DEFINITIONS
 * Definitions regarding the Post listing on the Main layout.
 * ========================================================== */
.post {
  p { margin-bottom: 0.5rem; }
  .date, .read-more { text-indent: 0; }
  .date { font-size: 1rem; }
  .read-more { text-align: center; }
}

/* FOOTER DEFINITIONS
 * Definitions regarding the footer.
 * ================================= */
footer {
  background: $Gray900;
  color: $White;
  padding-top: 2rem;

  .copyright {
    color: $Gray500;
    text-align: justify;

    .license { font-size: 1rem; }
  }
  .social-media {
    text-align: center;
  }
}
