---
---

/* GENERAL DEFINITIONS
 * Definitions not covered in the Skeleton sheet.
 * ============================================== */
html {
  border: 0;
  padding: 0;
}
main p {
  text-align: justify;
  text-indent: 3rem;
}

/* MAIN HEADER DEFINITIONS
 * Definitions regarding the header of the Main layout.
 * ==================================================== */
header {
  width: 100%;
  min-height: 200px;
  color: white;
  margin-bottom: 8rem;
}
header .title {
  width: 100%;
  min-height: 200px;
  text-align: center;
  background: #212121 url("{{ "assets/Header.jpg" | relative_url }}") center/cover no-repeat;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}
header h1 {
  margin-top: 5%;
}
header p { line-height: 350%; }
header p.chev-down { margin-bottom: 4rem; }
header .mdi {
  padding: 1.5rem;
  font-size: 3rem;
  width: 3rem;
  text-align: center;
  text-decoration: none;
  margin: 0 0;
  border-radius: 50%;
  color: #ffffff;
}

/* MAIN NAV DEFINITIONS
 * Definitions regarding the nav bar of the Main layout.
 * ===================================================== */
nav #nav {
  list-style-type: none;
  font-size: 2.5rem;
  text-align: center;
}

/* FOOTER DEFINITIONS
 * Definitions regarding the footer.
 * ================================= */
footer {
  background: #212121;
  color: #ffffff;
  padding-top: 2rem;
}
footer .copyright {
  color: #9e9e9e;
  text-align: justify;
}
footer .copyright .license { font-size: 1rem; }
