---
---

/* GENERAL DEFINITIONS
 * Definitions not covered in the Skeleton sheet.
 * ============================================== */
html {
  border: 0;
  padding: 0;
}
main p {
  text-align: justify;
  text-indent: 3rem;
}

/* MAIN HEADER DEFINITIONS
 * Definitions regarding the header of the Main layout.
 * ==================================================== */
header.index {
  width: 100%;
  min-height: 200px;
  color: white;
  margin-bottom: 8rem;
}
header.index .title {
  width: 100%;
  min-height: 200px;
  text-align: center;
  background: #212121 url("{{ "assets/Header.jpg" | relative_url }}") center/cover no-repeat;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}
header.index h1 {
  margin-top: 5%;
}
header.index p { line-height: 350%; }
header.index p.chev-down { margin-bottom: 4rem; }
header.index .mdi {
  padding: 1.5rem;
  font-size: 3rem;
  width: 3rem;
  text-align: center;
  text-decoration: none;
  margin: 0 0;
  border-radius: 50%;
  color: #ffffff;
}

/* DEFAULT HEADER DEFINITIONS
 * Definitions regarding the default header, used in every layout except Main.
 * =========================================================================== */
header.default {
  position: absolute;
  top: 0;
}

/* MAIN NAV DEFINITIONS
 * Definitions regarding the nav bar of the Main layout.
 * ===================================================== */
nav.index .nav {
  list-style-type: none;
  font-size: 2.5rem;
  text-align: center;
}
nav.index .nav .page i { margin-right: 0.5rem; }

/* REPOSITORY DEFINITIONS
 * Definitions regarting the Repository collection divs.
 * ===================================================== */
.repository h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.repository h3 i { margin-right: 0.5rem; }
.repository h3 a { text-decoration: none; }

/* MAIN POSTS DEFINITIONS
 * Definitions regarding the Post listing on the Main layout.
 * ========================================================== */
.post p { margin-bottom: 0.5rem; }
.post .date, .post .read-more { text-indent: 0; }
.post .date {
  text-indent: 0;
  font-size: 1rem;
}
.post .read-more { text-align: center; }

/* FOOTER DEFINITIONS
 * Definitions regarding the footer.
 * ================================= */
footer {
  background: #212121;
  color: #ffffff;
  padding-top: 2rem;
}
footer .copyright {
  color: #9e9e9e;
  text-align: justify;
}
footer .copyright .license { font-size: 1rem; }
footer .social-media { text-align: center; }
footer .social-media a {
  padding: 1.5rem;
  font-size: 3rem;
  width: 3rem;
  text-decoration: none;
  margin: 0 0;
  border-radius: 50%;
}
