# version format
version: v0.1.0-build.{build}-{branch}

branches:
  only:
    - master

# Do not build on tags (GitHub and BitBucket)
skip_tags: true

build: off

install:
  - set PATH=C:\Ruby22\bin;%PATH%
  - bundle install
  - gem install jekyll

init:
  - git config --global core.autocrlf input

before_test:
  - ruby -v
  - gem -v
  - bundle -v

test_script:
  - bundle exec jekyll build
