<head{% if site.lang %} lang="{{ site.lang }}"{% endif %}>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="keywords" content="{{ site.keywords }}" />

  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

  <link rel="icon" href="{{ assets/favicon.png | relative_url }}" type="image/png" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand|Raleway" />
  <link rel="stylesheet" href="{{ "css/normalize.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "css/skeleton.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "css/materialdesignicons.min.css" | relative_url }}" media="all" type="text/css" />
  <link rel="stylesheet" href="{{ "css/style.css" | relative_url }}" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google-analytics_code }}', 'auto');
    ga('send', 'pageview');
  </script>
</head>
