<!-- Header Compartment -->
<header>
  <div class="container default">
    <h1 class="four columns">{{ site.title }}</h1>

    <!-- Nav Bar -->
    <nav class="eight columns">
      <!-- Menu bar with four link capacity. -->
      {% assign page_count = site.pages | size %}
      {% if page_count > 0 %}
      <ul>
        {% for page in site.pages %}
          {% if page.layout == 'page' %}
        <li>
          <a href="{{ page.url | relative_url }}">{% if page.icon %}<i class="mdi mdi-{{ page.icon }}"></i>{% endif %}{{ page.title }}</a>
        </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </nav>
  </div>
</header>
