<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Header Compartment -->
    <header class="index">
      <div class="title">
        <!-- Title of the site -->
        <h1>{{ site.title }}</h1>
        <!-- Site description and Social Media links -->
        <p>
          {{ site.description }}
          <br />
          <span class="social-media">
            {% include social-links.html %}
          </span>
        </p>
        <!-- Link down -->
        <p class="chev-down">
          <a href="#start" class="mdi mdi-chevron-double-down"></a>
        </p>
      </div>
    </header>

    <!-- Nav Bar -->
    <nav class="container index">
      <!-- Menu bar with four link capacity. -->
      {% assign page_count = site.pages | size %}
      {% if page_count > 0 %}
        {% for page in site.pages %}
          {% if page.layout == 'page' %}
            {% capture pass %}{% cycle 'pages': 'open', '', '', 'close' %}{% endcapture %}
            {% if pass == 'open' %}
      <ul class="nav row">
            {% endif %}
        <li class="three columns page">
          <a href="{{ page.url | relative_url }}">{% if page.icon %}<i class="mdi mdi-{{ page.icon }}"></i>{% endif %}{{ page.title }}</a>
        </li>
            {% if pass == 'close' or forloop.last %}
      </ul>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </nav>

    <!-- Main Compartment -->
    <main class="container">
      <!-- Repository Collection -->
      <div class="repositories">
        {% assign repo_count = site.repos | size %}
        {% if repo_count > 0 %}
        <h2>Repositories</h2>
          {% for repo in site.repos %}
            {% capture pass %}{% cycle 'repos': 'open', 'close' %}{% endcapture %}
            {% if pass == 'open' %}
        <div class="row">
            {% endif %}
          <div class="repository six columns">
            <h3><a href="{{ repo.url }}"><i class="mdi mdi-git"></i>{{ repo.title }}</a></h3>
            <p>
              {{ repo.description }}
              {% if repo.site %}
              <a href="{{ repo.site }}">Site</a>
              {% endif %}
            </p>
          </div>
            {% if pass == 'close' or forloop.last %}
        </div>
            {% endif %}
          {% endfor %}
        {% else %}
        <div class="row">
          <div class="twelve columns">
            {{ "No repositories to show :sad:" | markdownify }}
          </div>
        </div>
        {% endif %}
      </div>

      <!-- Here comes everything the user manually defined. -->
      <div class="user-content" id="start">
        {{ content }}
      </div>

      <!-- Posts List -->
      <div class="posts">
        <h2>Posts</h2>
        {% assign post_count = site.posts | size %}
        {% if post_count > 0 %}
          {% for post in site.posts %}
            {% capture pass %}{% cycle 'posts': 'open', 'close' %}{% endcapture %}
            {% if pass == 'open' %}
        <div class="row">
            {% endif %}
          <div class="six columns post">
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
            <p class="date">{{ post.date | date: '%A, %b %e, %Y' }}</p>
              {% if post.blob %}
            <p>
              {{ post.blob }}
            </p>
            <p class="read-more">
              <a class="button" href="{{ post.url | relative_url }}">Read more...</a>
            </p>
              {% endif %}
          </div>
            {% if pass == 'close' or forloop.last %}
        </div>
            {% endif %}
          {% endfor %}
        {% else %}
        <p>No posts here yet.</p>
        {% endif %}
      </div>
    </main>

    {% include footer.html %}
  </body>

</html>
